/* About Section */
.about {
    padding: 70px 20px;
    background: var(--black);
    color: var(--white);
}

.about-wrapper {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    /* align-items: center; */
    gap: 40px;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    height: 100%;
    /* height: 600px; */
    border-radius: 14px;
    object-fit: cover;
    box-shadow: 0 12px 40px rgba(0,0,0,0.6);
}

.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 32px;
    color: var(--accent);
    margin-bottom: 15px;
    font-weight: 900;
}

.about-content p {
    color: var(--soft-gray);
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 14px;
    font-weight: 600;
}

/* points */
.about-points {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.about-points li {
    margin-bottom: 8px;
    font-weight: 700;
    color: var(--white);
}


/* Certificates Section */
.certificates {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.08);
}

.certificates h3 {
    font-size: 22px;
    color: var(--accent);
    margin-bottom: 8px;
    font-weight: 900;
}

.certificates-subtext {
    color: var(--soft-gray);
    font-size: 15px;
    margin-bottom: 16px;
    font-weight: 600;
}

/* Certificate grid */
.certificate-grid {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.certificate-grid img {
    width: 180px;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 8px 24px rgba(0,0,0,0.6);
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.certificate-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 36px rgba(0,0,0,0.75);
}


/* Certificate Lightbox */

.cert-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.cert-modal.show {
    display: flex;
}

.cert-modal-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 12px;
}

.cert-close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

/* Animation */
@keyframes zoomIn {
    from {
        transform: scale(0.85);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Mobile */
@media (max-width: 900px) {
    .certificate-grid {
        justify-content: center;
    }
}

/* Responsive */
@media (max-width: 900px) {
    .about-wrapper {
        flex-direction: column;
    }

    .about-image img {
        max-height: 320px;
    }

    .about-content {
        text-align: center;
    }

    .about-points {
        display: inline-block;
        text-align: left;
    }
}
